.footer-container {
    position: fixed;
    bottom: 0;
    color: #ffffff;
    background-color: #887575;
    height: 2rem;
    width: 100%;
    text-align: center;
    padding-top: 0.5rem;
    font-size: 0.8rem;
}