<!-- Header Container -->
<div class="header container">
    <!-- Brand's Logo -->
    <img class="header__logo" src="../../assets/images/logo.png" routerLink="/display">
    <!-- Cart Icon and Counter container -->
    <div class="header__cart-container">
        <!-- Cart counter -->
        <span>{{cartCount}}</span>
        <!-- Cart Icon -->
        <img class="header__cart-icon" src="../../../assets/images/cart1.png" routerLink="/cart">
    </div>
    <!-- End of Cart Icon and Counter container -->
</div>
<!-- End of Header Container -->